{% load crispy_forms_tags %}

{% block content %}
  {% csrf_token %}
  <div class="modal-content">
    <div class="modal-header">
      <h4>Agrega el Sabor de Helado</h4>
    </div>
    <div class="modal-body">
      <form method="post" hx-post="{% url 'product:flavourCreate' record.pk %}">
        {% crispy form %}
      </form>
    </div>
    <div class="modal-footer">
      <a href="{% url 'product:flavour' %}">
        <button class="btn ">Cancelar</button>
      </a>
    </div>
  </div>
{% endblock content %}
