{% extends "baseone.html" %}

<!--#Titulo-->
{% block title %}
  {{ title1 }}
{% endblock title %}
<!--#Imagenes en la Pantalla-->
{% block background %}
  {% load static %}

  {% static "/img/productos.jpg" %}
{% endblock background %}
<!--#Cabeceras-->
{% block headers %}
  <h1>Productos y Sabores</h1>
  <h2>Sabores de Helado</h2>
{% endblock headers %}
<!--#Contenido-->
{% load crispy_forms_tags %}

{% block content %}
  <div class="center">
    <div class="row">
      <div class="col-md-9">
        <h4>Eliminar Sabor</h4>
      </div>
      <div class="col-md-3">
        <a href="{% url 'product:flavour' %}">
          <button class="btn ">Cancelar</button>
        </a>
      </div>
    </div>
    <form method="post">
      {% csrf_token %}
      <p>
        Estas Seguro de eliminar el Helado Sabor a <b>{{ object }}</b>?
      </p>
      <input type="submit" value="Si, elimina el sabor." />
    </form>
  </div>
{% endblock content %}
