<!--#Contenido-->
{% load crispy_forms_tags %}

{% block content %}
  <div class="modal-content">
    <div class="modal-header">
      <h4>ELIMINAR PRODUCTO</h4>
    </div>
    <div class="modal-body">
      <form hx-post="{% url 'product:flavourDelete' object.pk %}">
        {% csrf_token %}
        <p>
          Estas Seguro de eliminar <b>{{ object }}</b>?
        </p>
        <button type="submit" class="btn btn-danger" value="Confirm">Confirmar</button>
      </form>
    </div>
    <div class="modal-footer">
      <button class="btn" data-bs-dismiss="modal">Cancelar</button>
    </div>
  </div>
{% endblock content %}
