{% extends "baseone.html" %}

<!--#Titulo-->
{% block title %}
  {{ title1 }}
{% endblock title %}
<!--#Imagenes en la Pantalla-->
{% block background %}
  {% load static %}

  {% static "/img/productos.jpg" %}
{% endblock background %}
<!--#Cabeceras-->
{% block headers %}
  <h1>Productos y Sabores</h1>
  <h2>Tipos de Productos</h2>
{% endblock headers %}
<!--#Contenido-->
{% load django_tables2 %}
{% load static %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
  {% include 'product/includes/acciones_menu.html' %}
  <style>
    .errorlist {
      color: red;
    }

    label {
      display: none;
    }
  </style>
  <h3 class="section-heading mb-4">
    <span class="section-heading-upper selected">Productos Heladeria</span>
    <span class="section-heading-upper">|</span>
    <span class="section-heading-upper"><a href="{% url 'product:flavour' %}">Sabores de Helados</a></span>
  </h3>
  <section class="page-section about-heading">
    <div class="container-fluid  >
      <div class="bg-faded rounded p-5">
        <div class="row">
          <div class="col-md-3">Filtro de Busqueda:</div>
          {% if filter %}
            <form hx-get="{% url 'product:product' %}"
                  hx-target="#table-container"
                  hx-swap="outerHTML"
                  class="form-group col-md-4 mb-">
              {% crispy filter.form filter.form.helper %}
            </form>
          {% endif %}
        </div>
      </div>
      {% if 'ok' in request.GET %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          CAMBIOS GUARDADOS CORRECTAMENTE
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="alert"
                  aria-label="Close"></button>
        </div>
      {% endif %}
      <div id="table-container" class="col-md-30">{% render_table table %}</div>
      <button type="button" hx-get="{% url 'product:create' %}" hx-target="#dialog">Create Menu Product</button>
    </section>
  {% endblock content %}
