{% extends "baseone.html" %}

<!--#Titulo-->
{% block title %}
  {{ title1 }}
{% endblock title %}
<!--#Imagenes en la Pantalla-->
{% block background %}
  {% load static %}

  {% static "/img/productos.jpg" %}
{% endblock background %}
<!--#Cabeceras-->
{% block headers %}
  <h1>Productos y Sabores</h1>
  <h2>Listado de Servicios de nuestro Local</h2>
{% endblock headers %}
<!--#Contenido-->
{% load crispy_forms_tags %}

{% block content %}
  <div class="center">
    <div class="row">
      <div class="modal-header">
        <h4>Actualizacion de Producto</h4>
      </div>
      {% csrf_token %}
      <div class="modal-body">{% crispy form %}</div>
    </div>
    <div class="modal-footer">
      <a href="{% url 'product:product' %}">
        <button class="btn ">Cancelar</button>
      </a>
    </div>
  </div>
{% endblock content %}
