{% extends "baseone.html" %}

<!--#Titulo-->
{% block title %}
  {{ title1 }}
{% endblock title %}
<!--#Imagenes en la Pantalla-->
{% block background %}
  {% load static %}

  {% static "/img/productos.jpg" %}
{% endblock background %}
<!--#Cabeceras-->
{% block headers %}
  <h1>Productos y Sabores</h1>
  <h2>Listado de Servicios de nuestro Local</h2>
{% endblock headers %}
<!--#Contenido-->
{% load django_tables2 %}
{% load static %}
{% load render_table from django_tables2 %}
{% load crispy_forms_tags %}

{% block content %}
  {% include 'product/includes/acciones_menu.html' %}
  <style>
    .errorlist {
      color: red;
    }

    label {
      display: none;
    }
  </style>
  <h2 class="section-heading mb-4">
    <span class="section-heading-upper">Productos Heladeria</span>
  </h2>
  <section class="page-section about-heading">
    <div class="container-fluid">
      <div class="bg-faded rounded p-5">
        {% if 'ok' in request.GET %}
          <h4>
            <b>CAMBIOS GUARDADOS CORRECTAMENTE </b>
          </h4>
        {% endif %}
        <div class="row">
          <div class="col-md-3">Filtro de Busqueda:</div>
          {% if filter %}
            <form action="" method="get" class="form-group col-md-4 mb-">
              {% crispy filter.form filter.form.helper %}
            </form>
          {% endif %}
        </div>
      </div>
      <div class="col-md-30">{% render_table table %}</div>
    </div>
  </section>
{% endblock content %}
