{% extends "baseone.html" %}

<!--#Titulo-->
{% block title %}
  {{ title1 }}
{% endblock title %}
<!--#Imagenes en la Pantalla-->
{% block background %}
  {% load static %}

  {% static "/img/productos.jpg" %}
{% endblock background %}
<!--#Cabeceras-->
{% block headers %}
  <h1>Productos y Sabores</h1>
  <h2>Listado de Servicios de nuestro Local</h2>
{% endblock headers %}
<!--#Contenido-->
{% load crispy_forms_tags %}

{% block content %}
  <div class="center">
    <div class="row">
      <div class="col-md-9">
        <h4>Actualizacion de Producto</h4>
      </div>
      <div class="col-md-3">
        <a href="{% url 'product:product' %}">
          <button class="btn ">Cancelar</button>
        </a>
      </div>
    </div>
    <form method="post">
      {% csrf_token %}
      <div class="col-lg-12">{{ form.presentacion|as_crispy_field }}</div>
      <div class="col-lg-12">{{ form.precio|as_crispy_field }}</div>
      <div class="col-lg-12">{{ form.peso|as_crispy_field }}</div>
      <div class="col-lg-6">
        <button type="submit" class="btn_s">Guardar</button>
      </div>
    </form>
  </div>
{% endblock content %}
